main{
    #carousel{
        #carouselExample{
            .carousel-inner{
                .active{
                    position: relative;
                    .boy-info{
                        position: absolute;
                        width: 100%;
                        top: 0%;
                        color: white;
                        margin-top: 100px;
                        .container{
                            max-width: 1000px;
                            margin: 0 auto;
                            padding-right: 300px;
                            .boy-name{
                                font-family: cursive;
                            }
                            .boy-btn{
                                button{
                                    border: none;
                                    background-color: orangered;
                                    border-radius: 3px;
                                    color: white;
                                    padding: 10px 20px;
                                }
                            }
                        }
                    }
                }
                #girl{
                    position: relative;
                    .girl-info{
                        position: absolute;
                        width: 100%;
                        top: 0%;
                        margin-top: 100px;
                        .container{
                            max-width: 1000px;
                            margin: 0 auto;
                            padding-right: 300px;
                            color: rgb(94, 91, 91);
                            .boy-name{
                                font-family: cursive;
                            }
                            .boy-btn{
                                button{
                                    border: none;
                                    background-color: orangered;
                                    border-radius: 3px;
                                    color: white;
                                    padding: 10px 20px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    #steps{
        padding: 100px 20px;
        .container{
            max-width: 1140px;
            margin: 0 auto;
            width: 100%;
            .steps-container{
                display: flex;
                justify-content: space-between;
                gap: 20px;
                .left{
                    width: 50%;
                    .lorem-text{
                        font-size: 16px;
                        color: gray;
                    }
                    .adopt{
                        button{
                            border: 2px solid #bc5148;
                            border-radius: 5px;
                            padding: 10px 20px;
                            transition: 300ms;
                            a{
                                color: #bc5148;
                            }
                            &:hover{
                                background-color: #bc5148;
                                border: none;
                                a{
                                    color: white;
                                }
                            }
                        }
                    }
                }
                .right{
                    .right-list{
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        .line{
                            border: 1px solid rgb(201, 198, 198);
                            font-size: 18px;
                            padding: 10px;
                            border-radius: 3px;
                            .line-title{
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                            }
                            .line-info{
                                margin-top: 20px;
                                padding-left: 20px;
                                font-size: 17px;
                                color: gray;
                                overflow: hidden;
                                transition: 300ms;
                                height: 0;
                                
                            }
                            .open-line-info{
                                height: 85px;
                            }
                        }
                    }
                }
            }
        }
    }
    #children{
        .container{
            max-width: 1140px;
            margin: 0 auto;
            width: 100%;
            .title{
                text-align: center;
                .btn{
                    button{
                        border: none;
                        background-color: #bc5148;
                        color: white;
                        padding: 10px 20px;
                        border-radius: 5px;
                    }
                }
            }
            .cards{
                display: flex;
                flex-wrap: wrap;
                gap: 10px;
                .card-box{
                    width: 362px;
                    border: 1px solid gray;
                    img{
                        width: 100%;
                    }
                    .name{
                        height: 80px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
        }
    }
}