@media screen and (max-width:768px){
    header{
        nav{
            padding: 0 20px;
            .container{
                .nav-container{
                    .nav-container-list{
                        display: none;
                    }
                    .contact-btn{
                        display: none;
                    }
                    .menu-icon{
                        display: block;
                    }
                }
            }
        }
        #landing{
            padding: 30px 20px;
            .container{
                .landing-container{
                    flex-direction: column-reverse;
                    .left-part{
                        #build{
                            display: none;
                        }
                        #resp-text{
                            display: inline;
                            width: 100%;
                        }
                    }
                    .right-part{
                        img{
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
    main{
        #experience{
            .container{
                flex-direction: column;
                .left-part{
                    img{
                        width: 100%;
                    }
                }
            }
        }
        #exp-years{
            .container{
                ul{
                    li{
                        width: 100%;
                    }
                }
            }
        }
        #work{
            .container{
                border-bottom: 1px solid 
                    #f3c2a8;
                .work-container{
                    display: flex;
                    flex-direction: column;
                    .left-part{
                        width: 100%;
                    }
                    .right-part{
                        width: 100%;
                    }
                }
            }
        }
        #video{
            .container{
                .video-container{
                    display: flex;
                    flex-direction: column;
                    .video{
                        #main-pic{
                            width: 100%;
                        }
                        #play{
                            display: none;
                        }
                    }
                }
            }
        }
        #features{
            .container{
                .features-container{
                    flex-direction: column;
                    .right-part{
                        img{
                            width: 100%;
                        }
                    }
                }
            }
        }
        #feature-content{
            .container{
                .content-container{
                    display: flex;
                    flex-direction: column;
                    gap: 30px;
                    .cards{
                        display: flex;
                        flex-direction: column;
                        .card-boxes{
                            width: 100%;
                        }
                    }
                }
            }
        }
        #service-title{
            .container{
                .service-title-container{
                    display: flex;
                    flex-direction: column;
                    .left-part{
                        img{
                            width: 100%;
                        }
                    }
                }
            }
        }
        #service{
            .container{
                .service-container{
                    .service-container-title{
                        width: 100%;
                    }
                    .service-container-cards{
                        .cards{
                            display: flex;
                            flex-direction: column;
                        }
                    }
                }
            }
        }
        #portfolio{
            .container{
                margin: 0 auto;
                max-width: 1200px;
                .portfolio-container{
                    .portfolio-container-title{
                        ul{
                            display: none;
                        }
                        select{
                            display: block;
                            height: 40px;
                            border-radius: 5px;
                        }
                    }
                    .portfolio-container-pics{
                        .line{
                            display: flex;
                            flex-direction: column;
                        }
                        .box{
                            img{
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}