header{
    nav{
        padding: 0 20px;
        height: 90px;
        font-family: "Poppins", sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        position: fixed;
        top: 0;
        width: 100%;
        background-color: white;
        .container{
            max-width: 1200px;
            margin: 0 auto;
            width: 100%;
            .nav-container{
                display: flex;
                justify-content: space-between;
                align-items: center;
                .title{
                    cursor: pointer;
                }
                .list{
                    ul{
                        display: flex;
                        gap: 50px;
                        li{
                            a{
                                color: black;
                                transition: 300ms;
                                &:hover{
                                    color: rgb(0, 174, 255);
                                }
                            }
                        }
                    }
                }
                .menu-bar{
                    display: none;
                    i{
                        font-size: 25px;
                    }
                }
            }
        }
    }
    .resp-list{
        padding: 0 20px;
        font-family: "Poppins", sans-serif;
        overflow: hidden;
        height: 0;
        transition: 200ms;
        .container{
            max-width: 1200px;
            margin: 0 auto;
            width: 100%;
            ul{
                display: flex;
                flex-direction: column;
                gap: 20px;
                li{
                    a{
                        color: black;
                        &:hover{
                            color: rgb(0, 174, 255);
                        }
                    }
                }
            }
        }
    }
    .open-list{
        height: 284px;
    }
    #offer{
        width: 100%;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        img{
            width: 100%;
        }
        .container{
            max-width: 1200px;
            margin: 0 auto;
            width: 100%;
            
        }
    }
}
