main{
    #service{
        font-family: "Montserrat", sans-serif;
        padding: 80px 20px;
        .container{
            max-width: 1200px;
            margin: 0 auto;
            width: 100%;
            .service-container{
                .title{
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 30px;
                    margin-bottom: 20px;
                    h1{
                        font-size: 40px;
                    }
                    .line{
                        width: 90px;
                        background-color: black;
                        height: 2px;
                        border-radius: 5px;
                    }
                }
                .cards{
                    p{
                        color: gray;
                    }
                    display: flex;
                    flex-wrap: wrap;
                    .card-box{
                        width: 295px;
                        text-align: center;
                        padding: 20px;
                    }
                }
            }
        }
    }
    #client{
        background-color: #7db9e8;
        .container{
            max-width: 1200px;
            margin: 0 auto;
            width: 100%;
            .client-container{
                .title{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 20px;
                    text-align: center;
                    .line{
                        background-color: black;
                        border-radius: 5px;
                        width: 100px;
                        height: 2px;
                    }
                }
                .infos{
                    display: flex;
                    justify-content: space-between;
                    .info-content{
                        div{
                            display: flex;
                        }
                    }
                }
            }
        }
    }
}