main{
    #companies{
        padding: 0 20px;
        height: 200px;
        background-color:#f8e2d6;
        display: flex;
        align-items: center;
        .container{
            margin: 0 auto;
            max-width: 1200px;
            width: 100%;
            ul{
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 10px;
                flex-wrap: wrap;
            }
        }
    }
    #experience{
        padding: 100px 20px;
        background-color: #f8e2d6;
        .container{
            margin: 0 auto;
            max-width: 1200px;
            width: 100%;
            display: flex;
            align-items: center;
            gap: 80px;
            .right-part{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 40px;
                h5{
                    font-family: Arial, Helvetica, sans-serif;
                    letter-spacing: 3px;
                }
                h2{
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 50px;
                    font-weight: 800;
                }
                .big-text{
                    font-family: 'Epilogue', sans-serif;
                    font-weight: 400;
                    font-size: 20px;
                    color: black;
                }
                p{
                    font-family: 'Epilogue', sans-serif;
                    color: gray;
                }
                button{
                    border: none;
                    background-color: white;
                    padding: 10px 20px;
                    font-weight: bold;
                    border-radius: 5px;
                    cursor: pointer;
                }
            }
        }
    }
    #exp-years{
        padding: 100px 20px;
        background-color: #f8e2d6;
        .container{
            margin: 0 auto;
            max-width: 1200px;
            display: flex;
            justify-content: center;
            align-items: center;
            ul{
                display: flex;
                flex-wrap: wrap;
                li{
                    border: 1px solid black;
                    width: 391px;
                    height: 176px;
                    padding: 20px;
                    border: 1px solid #F3D1BF;
                    h3{
                        font-family: Arial, Helvetica, sans-serif;
                        font-size: 40px;
                        font-weight: 800;
                    }
                    p{
                        font-family: 'Epilogue', sans-serif;
                    }
                }
            }
        }
    }
    #work{
        padding: 100px 20px;
        background-color: #f8e2d6;
        .container{
            margin: 0 auto;
            max-width: 1200px;
            width: 100%;
            .work-container{
                display: flex;
                justify-content: space-between;
                .left-part{
                    width: 50%;
                    display: flex;
                    flex-direction: column;
                    gap: 30px;
                    h5{
                        font-family: 'Epilogue', sans-serif;
                        color: orangered;
                        letter-spacing: 3px;
                        font-size: 16px;
                    }
                    h3{
                        font-family: Arial, Helvetica, sans-serif;
                        font-weight: 800;
                        font-size: 40px;
                        color: #391400;
                    }
                    p{
                        color: #391400;
                        font-size: 16px;
                        font-family: 'Epilogue', sans-serif;
                    }
                    a{
                        color: black;
                        font-family: 'Epilogue', sans-serif;
                    }
                }
                .right-part{
                    .right-part-box{
                        display: flex;
                        align-items: center;
                        gap: 20px;
                        color: #391400;
                        // font-family: 'Epilogue', sans-serif;
                        font-family: Arial, Helvetica, sans-serif;
                        h1{
                            font-weight: 800;
                            font-size: 72px;
                        }
                        h4{
                            font-weight: 800;
                            font-size: 24px;
                        }
                    }
                }
            }
        }
    }
    #video{
        padding: 80px 20px;
        background-color: #f8e2d6;
        .container{
            margin: 0 auto;
            max-width: 1200px;
            width: 100%;
            .video-container{
                display: flex;
                gap: 100px;
                align-items: center;
                .video{
                    position: relative;
                    #play{
                        position: absolute;
                        top: 100px;
                        z-index: 1;
                        left: 200px;
                    }
                }
                .reel{
                    display: flex;
                    flex-direction: column;
                    gap: 30px;
                    h5{
                        color: orangered;
                        letter-spacing: 3px;
                        font-family: 'Epilogue', sans-serif;
                        font-size: 16px;
                    }
                    h3{
                        font-family: Arial, Helvetica, sans-serif;
                        font-weight: 800;
                        font-size: 40px;
                        color: #391400;
                    }
                    p{
                        color: #391400;
                        font-size: 16px;
                        font-family: 'Epilogue', sans-serif;
                    }
                }
            }
        }
    }
}