main {
    #red {
        background-color: red;
    }

    #aqua {
        padding: 80px 20px;
        background-color: orangered;
        font-family: Arial, Helvetica, sans-serif;
        .container {
            margin: 0 auto;
            max-width: 1000px;
            width: 100%;
            .aqua-container{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 20px;
                .title{
                    color: white;
                }
                .line{
                    width: 100px;
                    height: 5px;
                    background-color: white;
                    border-radius: 10px;
                }
                .text{
                    color: white;
                }
                .start-btn{
                    button{
                        background-color: white;
                        border: none;
                        padding: 15px 20px;
                        border-radius: 20px;
                        font-family: Arial, Helvetica, sans-serif;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

#yellow {
    padding: 80px 20px;
    font-family: 'Epilogue', sans-serif;
    .container{
        margin: 0 auto;
        max-width: 600px;
        width: 100%;
        .yellow-container{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 30px;
            .cards{
                display: flex;
                flex-wrap: wrap;
                gap: 20px;
                .card-box{
                    border: 1px solid;
                    border-radius: 3px;
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                    .card-box-title{
                        background-color: rgb(209, 203, 203);
                        border-bottom: 1px solid rgb(155, 152, 152);
                        p{
                            text-align: center;
                            font-size: 25px;
                        }
                    }
                    .value{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                    .card-info{
                        p{
                            font-size: 13px;
                            text-align: center;
                        }
                    }
                    .card-btn{
                        display: flex;
                        justify-content: center;
                        margin-bottom: 10px;
                        button{
                            width: 160px;
                            padding-top: 8px;
                            padding-bottom: 8px;
                            border: 2px solid blue;
                            border-radius: 3px;
                            font-size: 15px;
                            color: blue;
                        }
                    }
                }
            }
        }
    }
}

#main2 {
    #gray {
        background-color: gray;
    }

    #blue {
        background-color: blue;
    }
}